# Ignore everything
*
# But not these files
!.gitignore
!README.md
!install.sh
!LICENSE
!scripts/
!scripts/*

# But ignore temporary files even if inside scripts/
*.zip
*.log
gw_tmp/
steam_tmp/
OMORI.app/
app.nw/
omori-patch-mac-intel-main/
nwjs-sdk-v0.98.0-win-x64/
run-omori-test.bat
